<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Флэшкарточкер</title>
</head>
<body>
    <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
    </section>
</body>
</html>
