<head>
  <meta charset="utf-8">
  <title>Флэшкарточкер</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><%= link_to "Все карточки", cards_path %></li>
        <li><a href="#">Добавить карточку</a></li>
      </ul>
    </header>
    <section>
      <%= yield %>
    </section>
  </div>
</body>